<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
	<title>IFLSCRAPING</title>
</head>
<body>
	<nav class="navbar">
		<div class="navbar-brand">
			<a href="/" class="navbar-item">

				<span class="icon">
				<i class="fa fa-rocket"></i>
				</span>

				<p id="brand-text level"> IFLSCRAPING</p>
			</a>
		</div>
		<div class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item">
					<a class="nav-item" href="/">
						Home
					</a>
				</div>
			</div>
			<div class="navbar-end">

				<div class="navbar-item">
					<p class="control">
						<a class="button is-warning" href="/scrape">
						<span class="icon">
							<i class="fa fa-clone"></i>
						</span>
						<span>Scrape Artices</span>
						</a>
					</p>
				</div>
				<div class="navbar-item">
					<p class="control">
						<a class="button is-info" href="/articles/saved">
						<span class="icon">
							<i class="fa fa-bookmark-o"></i>
						</span>
						<span>Marked Artices</span>
						</a>
					</p>
				</div>

			</div>
		</div>
	</nav>
	
	{{{ body }}}

	<footer class="hero is-success">
		<div class="hero-body has-text-centered">
			<p>
				<strong>IFLSCRAPING</strong> by <a href="https://github.com/Gruebes" target="_blank">Tanner J Gruebele</a>
			</p>
			<p>
				<a class="icon" href="https://github.com/Gruebes" target="_blank">
					<i class="fa fa-github"></i>
				</a>
			</p>
		</div>
	</footer>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>

</body>
</html>