<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">

      {{#if article}}

      <h1 class="title is-3 has-text-centered">
        Bookmark and Comment
      </h1>

      {{else}}

      <h1 class="title is-3 has-text-centered">
        Start by adding some articles
      </h1>

      {{/if}}

    </div>
  </div>
</section>



<section class="hero is-light is-fullheight">
  <div id="article-container" class="container">
    
    {{>article/article}}
    
  </div>
  
</section>