<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="is-1 text-is-centered">
        <i class="fa fa-rocket" aria-hidden="true"></i> IFLSCPAPING
      </h1>

    </div>
  </div>
</section>

<div id="article-container" class="container">
    
    {{>article/article}}
    
</div>