
<section class="hero is-primary">
  <div class="hero-body">

      {{>note/noteEditor}}

  </div>
</section>


<section class="hero is-light is-fullheight">
    <div class="container">
        <div id="comment-card" class="columns is-multiline">

            {{#each doc.note}}

                {{>note/note}}

            {{/each}}

        </div>
    </div>
</section>




