<div class="column is-half">
	<div class="card">
		<div class="card-content">
			<p class="title">
				{{title}}
			</p>			
			<p class="subtitle">
				{{body}}
			</p>
			<small>{{userCreated}}</small>
		</div>
		<footer class="card-footer">
			<p class="card-footer-item">
				<span>
					<a href="#">Edit</a>
				</span>
			</p>
			<p class="card-footer-item">
				<span>
					 <a href="#">Delete</a>
				</span>
			</p>
		</footer>
	</div>
</div>